body {
    background-image: url(../image/goku.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right top;
    background-color: indigo;
}

h1{
    font-family: cursive;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    color: goldenrod;
    background-color: darkmagenta;
}
fieldset{
    border: gold;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: cursive;
}
button{
    width: 100px;
    height: 50px;
    background-color: darkorchid;
    border-radius: 10px;
    color: white;
}
textarea{
    resize: none;
}
.Dados_pessoais input{
    width: 900px;
}
